.collections-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5%;
}

.collections-greeting-title {
    font-family: "Poppins";
    font-weight: 600;
    color: darkslategray;
}

.collections-greeting-break {
    display: block;
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 2px solid lightgray;
}