.dashboard-section {
    padding: 2rem;
    border: 8px solid lightgray;
}

.dashboard-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dashboard-section-title {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
    color: darkslategray;
}

.dashboard-section-toggle {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 400;
    color: lightgray;
}

.dashboard-section-break {
    display: block;
    height: 1px;
    margin: 1rem 0;
    padding: 0;
    border: 0;
    border-top: 2px solid lightgray;
}

.dashboard-section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.dashboard-section-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 8px solid lightgray;
    border-radius: 16px;
    font-family: "Poppins";
    gap: 1rem;
}

.dashboard-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-card-title {
    color: darkslategray;
}

.dashboard-card-author {
    color: lightgray;
}

.dashboard-card-content {
    color: lightgray;
}